h1 {
  font-size: 42px;
  text-align: center;
}

h2{
  font-size: 40px;
}

h2 span{
  text-decoration: underline;
}

#beer-submit{
  margin: 0 auto;
  display: block;
}

form{
  margin: 0 auto;
 
}

#beer-form {
  background-color: blue;
  margin: 0 auto;
}

#beer{
  text-align: center;
}

#map-canvas{
  margin: 40px auto 0px;
  height: 300px;
  width: 960px;
}
