h1 {
  font-size: 4.5em;
  text-align: center;
}

h2{
  font-size: 40px;
}

h2 span{
  text-decoration: underline;
}

#beer-submit{
  margin: 0 auto;
  display: block;
}

form{
  margin: 0 auto;
 
}

#beer-form {
  margin: 0 auto;
}

#beer{
  text-align: center;
}

#map-canvas{
  margin: 40px auto 0px;
  height: 400px;
  width: 100%;
}

#distance{
    text-align:center;
}
